html {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
	-webkit-box-sizing: inherit;
}

.contain:after, .contain:before {
	content: "";
	display: table;
	clear: both;
}

html, body {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: rgba(0, 0, 0, 0.5);
}

.scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.6);
	border-radius: 5px;
}

.scrollbar::-webkit-scrollbar {
	border-radius: 5px;
	width: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.4);
}

#console-block {
	position:relative;
	display: inline-block;
	float: left;
	width: 180px;
	height: 50px;
	margin: 0;
	padding: 5px 5px;
}


#testBtn {
	display: inline-block;
	width: 90px;
	height: 40px;
	margin: 5px;
	padding: 0px;
	color: black;
	font-size: 30px;
	font-weight: 900;
	text-align: center;
	line-height: 39px;
	background: rgba(255, 255, 255, 0.5);
	user-select: none;
}

#testBtn:active {
	color: white;
	background: black;
}

#console-page-log {
	position: relative;
	display: block;
	width: 100%;
	height: calc(100% - 50px);
	margin: 0;
	padding: 0 20px;
	color: white;
	overflow: auto;
	display: block;
}

.console-page-msg{
	color:white;
	font-size : 50px;
	border-bottom: 1px solid grey;
}


#testCon{
	display:inline-block;
	background: black;
	width: 200px;
	height: 200px;
	border: 1px solid gold;
}
#test{
	display:inline-block;
	background: white;
	width: 100%;
	height : 100%;
	margin:0;
	padding: 20px;
}



.wide-switch {
	position: relative;
	display: inline-block;
	width: 166px;
	height: 40px;
}

.wide-switch input {
	display: none;
}

.wide-switch .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #9f9f9f;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.wide-switch .slider:before {
	position: absolute;
	height: 34px;
	width: 120px;
	left: 3px;
	bottom: 3px;
	color: #9f9f9f;
	background-color: #e7e7e7;
	content: "Console OFF";
	font-weight:900;
	text-align:center;
	line-height:32px;	
	-webkit-transition: .3s;
	transition: .3s;
}

.wide-switch input:checked+.slider {
	background-color: #2196F3;
}

.wide-switch input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

.wide-switch input:checked+.slider:before {
	content: "Console ON";
	color: #2196F3;
	-webkit-transform: translateX(40px);
	-ms-transform: translateX(40px);
	transform: translateX(40px);
}

/* Rounded sliders */
.wide-switch .round {
	border-radius: 34px;
}

.wide-switch .round:before {
	border-radius: 17px;
}